@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');

body
{
    background-color: #121212;
    font-family: 'Inria Serif', serif;
    color: wheat;
}

.container{
    border: 2px solid wheat;
    max-width: 390px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.header > h1 {
    font-size:2.85rem;
    margin-right: 0.5em;
    border-bottom: 8px solid rgb(94, 88, 79);
}

/*LOGOS CONTAINER*/
.logo{
    background-image: url("https://media.giphy.com/media/v0HkFXboMUBttoVGk5/giphy.gif");
    background-size: cover;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: aqua;
}
.logo-text{
    color: wheat;
    margin: 0.5em 0 0 0;
}

/*INPUTS CONTAINER*/
.inputs{
    margin: 2em 0 0 0;
    border: 1px solid aquamarine;
    width: 290px;
}
.sub-inputs{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Inria Serif', serif;
}
.name{
    width: 50%;
    padding: 0.5em;
    font-size: 1.25rem;
    font-family: 'Inria Serif', serif;
}
.price{
    width: 50%;
    padding: 0.5em;
    font-size: 1.25rem;
    font-family: 'Inria Serif', serif;
}
.contact{
    width: 41.6%;
    padding: 0.5em;
    font-size: 1.25rem;
    font-family: 'Inria Serif', serif;
}
.image{
    width: 50.2%;
    padding: 0.5em;
    font-size: 1.25rem;
    font-family: 'Inria Serif', serif;
    gap: 5px;
    display: none;
}
.sub-sub-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.upload{
    padding: 0.5em;
    font-size: 1.5rem;
}
.upload:hover{
    color: yellow;
    cursor: pointer;
}

.textarea{
    font-family: 'Inria Serif', serif;
    height: 60px;
    width: 98%;
    font-size: 1.35rem;
}
.button{
    font-family: 'Inria Serif', serif;
    margin: 0.2em 0 0 0;
    font-size: 1.5rem;
    padding: 0.25em;
    width: 100%;
}

/*MEGS CONTAINER*/



.megs{
    height: 385px;
    width: 310px;
    background-color: aquamarine;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
}
.meg-img{
   height: 240px;
   width: 280px;
   padding: 0.5em;
   margin: 0em 1em 0.2em 1em ;
   object-fit: cover;
   border-radius: 30px;
}
.meg-inputs{
    height: 120px;
    width: 90%;
    margin: 0;
    font-size: 0.8rem;
    text-align: start;
    padding: 0.5em;
    color: #121212;
}
.meg-inputs > p{
    margin: 0.2em 0 0.5em 0;
    font-size: 1rem;
}
.sub-meg-inputs{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sub-meg-inputs > h2{
    margin: 0;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0.5em;
}
.sub-final-meg-inputs > h2{
    margin: 0;
    font-weight: 200;
}
.sub-final-meg-inputs > h3{
    margin: 0;
}